.card{
    border: 1px solid rgb(245, 243, 243);
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px 20px;
    padding: 20px;
    background-color:rgb(245, 243, 243);
    border-radius: 30px;
    margin-top: 20px;
    transition: transform 1s ease;
}
.card img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 20px;
}
.card h4{
    color:gray;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.card:hover{
    background-color: rgb(60, 60, 184);
    transform: scale(1.05);
}

